<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionStringList" value="con1,con2,con3,con4"/>
    <add key="con1" value="Server=VM-QA-DBSLC;Database=SLCProject;user=sa;password=s@123!;MultipleActiveResultSets=true;Persist Security Info=True;"/>
    <add key="con2" value="Server=VM-QA-DBSLC;Database=SLCProject;user=sa;password=s@123!;MultipleActiveResultSets=true;Persist Security Info=True;"/>
    <add key="con3" value="Server=VM-QA-DBSLC;Database=SLCProject;user=sa;password=s@123!;MultipleActiveResultSets=true;Persist Security Info=True;"/>
    <add key="con4" value="Server=VM-QA-DBSLC;Database=SLCProject;user=sa;password=s@123!;MultipleActiveResultSets=true;Persist Security Info=True;"/>
  </appSettings>
</configuration>